.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
.env.example
.cache

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# created spritesheets
spritesheet-*.ts

# icons
static/icons/font-awesome/
src/lib/icons/**/*.svg