modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 80

[agent]
expertMode = true
