modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 80

[agent]
expertMode = true

[workflows]

[[workflows.workflow]]
name = "Pre-commit Checks"
mode = "parallel"
author = 23073448

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run format:fix"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn run eslint"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn run typecheck"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn run check"
