body
{
  background-color:rgb(154, 219, 154);
}

h1, h2, p, div
{
  color:black;
  white-space: pre;
  font-family: Arial, Helvetica, sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#map {
    height: 100vh;
    width: 100%;
}