@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-Regular.ttf') format('truetype');
}

html {
	font-family: Manrope, sans-serif;
}

::selection {
	color: white;
	background: #53c5d5;
}

.gradient {
	background: -webkit-linear-gradient(45deg, #0ecd71, #040273);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
