@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-Regular.ttf') format('truetype');
}

@layer base {
	html {
		font-family: Manrope, sans-serif;
		@apply text-base;
	}

	::selection {
		@apply bg-[#53c5d5] text-white;
	}
}

@layer utilities {
	.gradient {
		background: -webkit-linear-gradient(45deg, #0ecd71, #040273);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.gradient-bg {
		background: -webkit-linear-gradient(45deg, #0ecd71, #040273);
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.hide-scroll::-webkit-scrollbar {
		@apply hidden;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.hide-scroll {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.center {
		@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
	}

	.center-fixed {
		@apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}

@layer components {
	.div-icon {
		background-image: url('/icons/div-icon-pin.svg');
	}

	.boosted-icon {
		background-image: url('/icons/boosted-icon-pin.svg');
	}

	.treasure-icon {
		background-image: url('/icons/treasure-icon.png');
	}
}
