name: Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=4096
    steps:
      - uses: ./.github/actions/setup
        with:
          needs-env: 'true'
          needs-sync: 'true'

      - name: Run Vitest tests
        run: yarn run test
